{% extends 'base.html.twig'%}
{% block body%}

   

        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Modifier profil</h2>
                    <ol class="breadcrumb">
                        <li><a href="/home">Acceuil</a></li>
                        <li class="active">Modifier votre profil</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
        <!--================Contact Area =================-->
        <section class="contact_area section_gap">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-3">
                        <div class="contact_info">
                            <div class="info_item">
                                <i class="lnr lnr-home"></i>
                                <h6>Modifier votre données</h6>
                                <p></p>
                            </div>
                            
                          
                        </div>
                    </div>
                    <div class="col-md-9">
                        <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Selmi Oussema">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Oussema2110@gmail.com">
                                </div>
                                <div class="form-group">
                             
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Visiteur">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" rows="1" placeholder="Entrer le message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="submit" value="submit" class="btn theme_btn button_hover">Confirmer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--================Contact Area =================-->
         {%endblock%}
        
       