<form method="post" action="{{ path('app_user_deleteback', {'id': user.id}) }}" onsubmit="return confirm('Vous confirmez cette suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn px-4 py-2 text-sm font-medium  text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-purple">Supprimer</button>
</form>
